
<nav class="headernav"><!--This is still set with en as default language and is as secondary language-->
    {% if page.lang == "is" %}
      {% for item in site.data.nav %}
        <a href="{{ site.baseurl }}{{ item.link }}" {% if page.url == item.link %}class="current"{%else%}class="navlink"{% endif %}>{{ item.name }}</a>
      {% endfor %}
    {% elsif page.lang == "en" %}
      {% for item in site.data.nav-en %}
        <a href="{{ site.baseurl }}{{ item.link }}" {% if page.url == item.link %}class="current"{%else%}class="navlink"{% endif %}>{{ item.name }}</a>
      {% endfor %}
    {% else %}
      <p>lang is wrong</p>
    {% endif %}
    {% if page.lang == "is" %}
      <!--<a href="/is{{ page.url }}">IS</a>-->
      <a href="{{ site.baseurl }}/en">en</a>
    {% elsif page.lang == "en" %}
      <!--<a href="/">EN</a>-->
      <a href="{{ site.baseurl }}/">is</a>
    {% endif %}
  </nav>